db/*
api2/*.rbc
api2/capybara-*.html
api2/.rspec
api2//db/*.sqlite3
api2//db/*.sqlite3-journal
api2//db/*.sqlite3-[0-9]*
api2//public/system
api2//coverage/
api2//spec/tmp
api2/*.orig
api2/rerun.txt
api2/pickle-email-*.html

# Ignore all logfiles and tempfiles.
api2/log/*
api2//tmp/*
api2/!/log/.keep
api2/!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
api2/config/initializers/secret_token.rb
api2/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
api2/.env
api2/.env.*

## Environment normalization:
api2/.bundle
api2/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
api2/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
api2/vendor/assets/bower_components
api2/*.bowerrc
api2/bower.json

# Ignore pow environment settings
api2/.powenv

# Ignore Byebug command history file.
api2/.byebug_history

# Ignore node_modules
api2/node_modules/

# Ignore precompiled javascript packs
api2/public/packs
api2/public/packs-test
api2/public/assets

# Ignore yarn files
api2/yarn-error.log
api2/yarn-debug.log*
api2/.yarn-integrity

# Ignore uploaded files in development
api2/storage/*
!/storage/.keep
api2/public/uploads

# dependencies
front/node_modules
front/package-lock.json

# logs
front/npm-debug.log
front/yarn-error.log

# other
front/.nuxt
front/dist
front/.vscode
front/.idea
front/newrelic_agent.log
front/.DS_STORE
front/.eslintrc

# docs
front/docs

# @nuxtjs/pwa
front/sw.*

front/.env

# Optional eslint cache
front/.eslintcache


front/cypress/integration/examples
front/cypress/videos
front/cypress/screenshots
