
<div style="
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    margin-top: 50px;
    margin-left: 50px; 
    margin-right: 60px;">
      <p>
        <strong>Foi solicitada uma alteração de senha para a conta com esse e-mail.</strong>
        <p>
          seu código de confirmação é: <%=@hash%>
        </p>
      </p>
</div>
